.layout {
  height: 100%;
}

.content-container {
  padding: 24px;

  &__content {
    background: #F0F2F5;
    display: flex;
    padding: 0;
    flex-direction: row;
    margin: 0;
    min-height: 280px;
  }
}
