#dwv {
    height: 90%;
}

.button-row {
    text-align: center;
}

/* Layers */
.layerContainer {
    position: relative;
    padding: 0;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 50%;
    border: 1px solid #000;
}

.imageLayer {
    position: absolute;
    left: 0px;
}

.drawDiv {
    position: absolute;
    pointer-events: none;
}

/* drag&drop */
.dropBox {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.dropBox .dropBoxBorder {
    height: 100%;
}
.dropBoxBorder {
    border: 5px dashed #e8eaf6; /*indigo:light*/
}

.dropBoxBorder.hover {
    border: 5px dashed #3f51b5; /*indigo*/
}
